* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image:  #f7f7f7;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(121,9,28,0.30593487394957986) 44%, rgba(0,212,255,1) 100%);
}

main {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

h1 {
    text-align: center;
}

hr{
    font-weight: bold;
    height: 3px;
    background: black;
    margin-bottom: 10px;
}

.game {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.game button {
    width: 100px;
    height: 100px;
    margin: 5px;
    cursor: pointer;
    font-size: 50px;
    background: white;
}

button {
   border-radius: 15px; 
    
}

button:hover {
    transform: scale(1.1);
    transition: all 0.5s;
    background: rgb(230,45,253);
    background: linear-gradient(0deg, rgba(230,45,253,1) 51%, rgba(195,34,154,0.3647584033613446) 84%);
   
    
  }